<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="home.css">
</head>

<body>
  <nav class="navbar">
    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="/home" class="navbar__link navbar__link--active">Home</a>
      </li>
      <li class="navbar__item">
        <a href="/transactions" class="navbar__link">Transactions</a>
      </li>
      <li class="navbar__item">
        <a href="/goals" class="navbar__link">Goals</a>
      </li>
      <li class="navbar__item">
        <a href="/profile" class="navbar__link">Profile</a>
      </li>
    </ul>
  </nav>

  <header class="header">
      <h1 class="header__title">Homepage</h1>
  </header>

  <main class="main">
    <div class="main__wrap">
      <h2 class="main__title">Welcome to the Financial Tracker!</h2>
      <p class="main__text">
        Here you can track your expenses, set goals and improve your financial literacy, enjoy!
      </p>
    </div>
    <div class="balance__info">
        Your balance is: <%= totalIncome - totalExpense %>
        </div>
  </main>
</body>

</html>